<div>
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />



  <!-- TRANSLATE ÖRNEK-->
  <!-- <h3> {{ 'Project List' | translate }} </h3> -->




  <!-- APP LAYOUT İÇİN ROUTER -->
<router-outlet></router-outlet>



  <!-- PROJECT DATATABLE ÖRNEK -->
  <!-- <div>
    <h2>PROJECT TABLE</h2>
    <ngx-datatable class="material" [rows]="rows" [columns]="cols" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.page"
      [limit]="page.size" (page)='setPage($event)'>
    </ngx-datatable>






    <ng-template #tplProjectDeleteCell let-row="row" let-value="value">
      <button (click)="showProjectDeleteConfirmation(value)"><i class="material-icons">
          delete</i></button>
    </ng-template> 

 -->



    <!-- YENİ PROJE FORM -->
<!-- 
    <button type="button" class="btn btn-primary" (click)="openModal(template)">New Project</button>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{'Project Detail' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="projectForm" (ngSubmit)="saveProject()">

          <div class="form-group">
            <label>{{'Project Code'| translate}}</label>

            <input type="text" formControlName="projectCode" class="form-control"
              [ngClass]="{ 'is-invalid': f.projectCode.errors }" />
            <div *ngIf="f.projectCode.errors" class="invalid-feedback">
              <div *ngIf="f.projectCode.errors.required">{{'Project Code is required'| translate}}</div>
              <div *ngIf="f.projectCode.errors.minlength">{{'Project Code should be (min) 2 char'| translate}}</div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'Project Name'| translate}}</label>

            <input type="text" formControlName="projectName" class="form-control"
              [ngClass]="{ 'is-invalid': f.projectName.errors }" />
            <div *ngIf="f.projectName.errors" class="invalid-feedback">
              <div *ngIf="f.projectName.errors.required">{{'Project Name is required'| translate}}</div>
              <div *ngIf="f.projectName.errors.minlength">{{'Project Name should be (min) 4 char'| translate}}</div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'Project Manager'| translate}}</label>

            <select formControlName="managerId" class="form-control" [ngClass]="{ 'is-invalid': f.managerId.errors }">
              <option *ngFor="let val of managerOptions" [value]="val.id">{{val.nameSurname}}</option>
            </select>
            <div *ngIf="f.managerId.errors" class="invalid-feedback">
              <div *ngIf="f.managerId.errors.required">{{'Project Manager is required'| translate}}</div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-light" (click)="closeAndResetModal()">{{ 'Close' | translate }}</button>
            <button class="btn btn-primary">{{ 'Save' | translate }}</button>
          </div>
        </form>

      </div>
    </ng-template>
  </div> -->

  <!-- ISSUE TABLOSU ÖRNEK -->
  <!-- <div>
    <h2>ISSUE LIST</h2>
    <ngx-datatable
    class="material"
    [rows]="issuerows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="pageissue.totalElements"
    [offset]="pageissue.page"
    [limit]="pageissue.size"
    (page)='setPageissue($event)'>
    <ngx-datatable-column prop="id" name="No" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="description" name="Description" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="date" name="Issue Date" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="issueStatus" name="Status" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="assignee.nameSurname" name="Assignee" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="project.projectName" name="Project Name" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="project.manager.nameSurname" name="Project Manager" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="id" name="Actions" sortable="false">
       <ng-template let-value="value" ngx-datatable-cell-template>
        <a [routerLink]="['issue-detail/',value]">Detail</a>
      </ng-template>
    </ngx-datatable-column>
     
   
   </ngx-datatable> 










  </div> -->

















</div>